*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.main{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(120deg,rgb(209, 164, 80),black);

}

.main h1{
    font-size:45px;
    font-weight:500;
    margin-top:-50px;
    margin-bottom:50px;
    color:white
}

.main h1 span{
    color:rgb(228, 155, 19);

}


textarea{
    width:600px;
    height:250px;
    border-radius:10px;
    padding:10px;
    color:#fff;
    background-color: rgb(175, 132, 57);
    margin-bottom:30px;
    resize:none;
    border:0;
    outline:0;

}

textarea::placeholder{
    font-size:20px;
    color:#ddd;
}

.row{
    width:600px;
    display:flex;
    align-items:center;
     gap:20px;

}

button{
    background-color:rgb(228, 155, 19); 
    color:#fff;
    padding:10px 30px;
    border-radius:35px;
    border:0;
    outline:0;
    cursor:pointer;


}

button img{
    width:16px;
    margin-right:10px;
}

select{
    flex:1;
    color:#fff;
    background-color:rgb(175, 132, 57);
    height:50px;
    padding:0 20px;
    outline:0;
    border:0;
    border-radius:35px;
     
}